/* ============ desktop view ============ */
/*@media all and (min-width: 992px) {*/
.navbar .nav-item .dropdown-menu{ 
    display: none; 
}
/*.navbar .nav-item:hover .nav-link{   }*/
.navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
}
.navbar .nav-item .dropdown-menu{ 
    margin-top:0; 
}
/*}*/	
/* ============ desktop view .end// ============ */

/* ==================== Section Lodge ==================== */
.lodge {
    height: auto;
    display: flex;
}
.lodge img {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 75%;
    height: auto;
    display: flex;
    margin: 0 auto;
}
.lodge .contenedor {
    padding-top:50px;
}
.lodge .titulo {
    text-align: left;
}
.lodge .subtitulo {
    text-align: left;
}
.lodge p {
    text-align: left;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
.lodge .contenedor .logo img{
    width: 100px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 0px;
}
/* ==================== End Section Lodge ==================== */
/* ==================== Section Nuestros Servicios ==================== */
.grilla {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}
.grilla .contenedor {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
/* ==================== End Section Nuestros Servicios ==================== */
/* ==================== Section Multi Aventura ==================== */
.multiaventura2 div {
    width: auto;
    display: flex;
    justify-content: center;
}
/* ==================== End Section Multi Aventura ==================== */
/* ==================== Card ==================== */
.card-content .card-title {
    padding-bottom: 20px;
} 
/* ==================== End Card ==================== */