.lodge-container--paragraph {
    display:flex;
    width: 800px;
    margin: 0 auto;
}
.lodge-container--paragraph p {
    width: 50%;
    padding: 15px;
    font-size: 2rem;
}

.patagonia-container--paragraph {
    width: 700px;
    margin: 0 auto;   
    font-size: 2rem;
}

.main-lodge-container2--subtitle {
    width: 700px;
    margin: 0 auto;
    font-size: 2rem;
}
.main-lodge-container2--paragraph {
    width: 50%;
    padding: 25px;
}
.main-lodge-container2--paragraph p {
    font-size: 2rem;
}
.main-lodge-container2--logo {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.main-lodge-container3--title {
    grid-column: 2 / 10;
    grid-row: 1 / 2;
}
.main-lodge-container3--subtitle {
    padding: 15px;
    font-size: 2rem;
    grid-column: 1 / 11;
    grid-row: 2 / 4;
}
.main-lodge-container3--logo {
    grid-column: 2 / 5;
    grid-row: 4 / 6;
}
.main-lodge-container3--paragraph {
    grid-column: 6 / 11;
    grid-row: 4 / 8;
    padding: 15px;
    font-size: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
}
.main-lodge-container3--a {
    display: block;
    text-align: center;
    grid-column: 5 / 8;
    grid-row: 9 / 10;
}

/* ==================== Page Lodge ==================== */
.page-lodge-container {
    width: 70%;
    margin:0 auto;
}
.page-lodge-container--paragraph-images {
    display: flex;
}
.page-lodge-container--paragraph {
    width: 50%;
    padding-right: 25px;
}
.page-lodge-container--images {
    display:inline;
    width: 50%;
}
.page-lodge-container--images img {
    width: 100%;
    height: 300px;
    margin: 10px;
}
/* ==================== End Page Lodge ==================== */
/* ==================== Page Patagonia ==================== */
.page-patagonia-container2 {
    height: auto;
    background-image: url("../assets/imgs/cerrocastillo.jpg");
    background-size: cover;
    background-position: center;
}
.page-patagonia-container--all {
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255,0.2);
    height: auto;
}
/* ==================== End Page Patagonia ==================== */

.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{   }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
.navbar .nav-item .dropdown-menu li a{ 
    margin-left: 0px;
    color: #EFEFEF;
}

.carousel-caption h5 {
    width: 50%;
    margin: 0 auto;
}

.patagonia-container--logo {
    margin-right: 100px;
    margin-left: auto;
}